---
import LinkButton from "../components/LinkButton.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import VuejsIcon from "../icons/VuejsIcon.astro";
import AzureIcon from "../icons/AzureIcon.astro";
import SassIcon from "../icons/SassIcon.astro";
import AwsIcon from "../icons/AwsIcon.astro";
import MssqlserverIcon from "../icons/MssqlserverIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import WordpressIcon from "../icons/WordpressIcon.astro";
import PhpIcon from "../icons/PhpIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import JavascriptIcon from "../icons/JavascriptIcon.astro";
import MysqlIcon from "../icons/MysqlIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import NodejsIcon from "../icons/NodeJsIcon.astro";
import JqueryIcon from "../icons/JqueryIcon.astro";
import MicrosoftIcon from "../icons/MicrosoftIcon.astro";
import Office365Icon from "../icons/Office365Icon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import EcommerceIcon from "../icons/Ecommerce.astro";
import StatamicIcon from "../icons/StatamicIcon.astro";
import LaravelIcon from "../icons/LaravelIcon.astro";
import RootsIcon from "../icons/RootsIcon.astro";
import YarnIcon from "../icons/YarnIcon.astro";
import ViteIcon from "../icons/ViteIcon.astro";
import AlgoliaIcon from "../icons/AlgoliaIcon.astro";
import GulpIcon from "../icons/GulpIcon.astro";

const TAGS = {
  AWS: {
    name: "AWS",
    class: "bg-[#ff9900] text-white",
    icon: AwsIcon,
  },
  AZURE: {
    name: "Azure",
    class: "bg-[#0089d6] text-white",
    icon: AzureIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e34c26] text-white",
    icon: HtmlIcon,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-yellow-400 text-black",
    icon: JavascriptIcon,
  },
  JQUERY: {
    name: "Jquery",
    class: "bg-[#0769ad] text-white",
    icon: JqueryIcon,
  },
  MSSQLSERVER: {
    name: "MSSQL Server",
    class: "bg-blue-500 text-white",
    icon: MssqlserverIcon,
  },
  MICROSOFT: {
    name: "Sharepoint",
    class: "bg-[#7cbb00] text-white",
    icon: MicrosoftIcon,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758f] text-white",
    icon: MysqlIcon,
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-[#215732] text-white",
    icon: NodejsIcon,
  },
  OFFICE365: {
    name: "Office 365",
    class: "bg-[#f35314] text-white",
    icon: Office365Icon,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#4f5b93] text-white",
    icon: PhpIcon,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#cc6799] text-white",
    icon: SassIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-blue-500 text-white",
    icon: TailwindIcon,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-blue-500 text-white",
    icon: TypescriptIcon,
  },
  VUEJS: {
    name: "Vue JS",
    class: "bg-[#42b883] text-white",
    icon: VuejsIcon,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-black/80 text-white",
    icon: WordpressIcon,
  },
  ECOMMERCE: {
    name: "Ecommerce",
    class: "bg-[#7f54b2] text-white",
    icon: EcommerceIcon,
  },
  STATAMIC: {
    name: "Statamic",
    class: "bg-[#ff2e4d] text-white",
    icon: StatamicIcon,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#ff2d20] text-white",
    icon: LaravelIcon,
  },
  ROOTS: {
    name: "Roots.io",
    class: "bg-[#525ddc] text-white",
    icon: RootsIcon,
  },
  YARN: {
    name: "Yarn",
    class: "bg-[#2c8ebb] text-white",
    icon: YarnIcon,
  },
  VITE: {
    name: "Vite",
    class: "bg-[#646cff] text-white",
    icon: ViteIcon,
  },
  ALGOLIA: {
    name: "Algolia",
    class: "bg-[#00758f] text-white",
    icon: AlgoliaIcon,
  },
  GULP: {
    name: "Gulp",
    class: "bg-[#cf4647] text-white",
    icon: GulpIcon,
  },
};

const PROJECTS = [
  {
    title: "Simpli Studio - Ad Creative Management",
    description: [
      "Architected and deployed new features that elevated the platform's performance by 25%, directly boosting marketing campaign success and user engagement.",
      "Led the transition from third-party integrations to custom in-house solutions, reducing costs and dependence on external software.",
      "Utilized VueJS, NodeJS, and AWS to enhance scalability, reliability, and deployment speed, resulting in a smoother development cycle and improved user experience."
    ],
    image: "/projects/simpli_01.webp",
    link: "",
    tags: [TAGS.VUEJS, TAGS.TYPESCRIPT, TAGS.SASS, TAGS.NODEJS, TAGS.AWS],
    github: ""
  },
  {
    title: "BuyRite Site - B2B Portal",
    description: [
      "Built a B2B portal with a custom template based on design file, using Laravel and Statamic CMS",
      "Implemented company and user registration for a custom e-commerce portal",
      "Developed automatic product synchronization from Google Sheets",
      "Contributed significantly to both front-end and back-end development, including testing and automation"
    ],
    image: "/projects/buyrite.webp",
    link: "https://buyrite.site/",
    tags: [TAGS.LARAVEL, TAGS.STATAMIC, TAGS.TAILWIND, TAGS.VITE, TAGS.ECOMMERCE, TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT],
    github: ""
  },
  {
    title: "IGIWAX - B2B Portal",
    description: [
      "Developed an informative portal with resource and product catalog using WordPress (Bedrock/Sage)",
      "Implemented ACF-managed custom posts and taxonomies",
      "Created MVC services extension and custom catalog e-commerce functionality",
      "Integrated HubSpot forms via Gravity Forms",
      "Key contributor in both front-end and back-end development"
    ],
    image: "/projects/igiwax.webp",
    link: "https://igiwax.com/",
    tags: [TAGS.WORDPRESS, TAGS.ROOTS, TAGS.YARN, TAGS.TAILWIND, TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT],
    github: ""
  },
  {
    title: "iFoodDS – Enrollment Portal",
    description: [
      "Built an enrollment portal using WordPress (Bedrock/Sage)",
      "Implemented ACF-managed custom post types and fields",
      "Developed custom WooCommerce services for multi-variation pricing",
      "Layout/Styles with Blade & Tailwind CSS",
      "Key contributor in front-end and back-end development"
    ],
    image: "/projects/ifoodds.webp",
    link: "https://supplier-trace.ifoodds.com/",
    tags: [TAGS.WORDPRESS, TAGS.ROOTS, TAGS.YARN, TAGS.TAILWIND, TAGS.ECOMMERCE, TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT],
    github: ""
  },
  {
    title: "Grade Construction - Project Showcase",
    description: [
      "CDeveloped an informative site with project showcases using WordPress (Bedrock/Sage)",
      "Implemented ACF-managed custom post types and custom fields",
      "Layout/Styles with Blade & Tailwind CSS",
      "Key contributor in front-end and back-end development"
    ],
    image: "/projects/grade.webp",
    link: "https://gradeconstruction.com/",
    tags: [TAGS.WORDPRESS, TAGS.ROOTS, TAGS.YARN, TAGS.TAILWIND, TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT],
    github: ""
  },
  {
    title: "Web Portal | Judicial Branch (Dom.Rep)",
    description:[
      "Implemented a cloud-based architecture using PHP, jQuery, and MySQL, with a strong focus on security and scalability.",
      "Optimized for SEO and Accessibility, ensuring broad visibility and easy navigation for all users.",
      "Seamlessly integrated various in-house developed solutions alongside third-party applications, delivering a holistic and user-centric digital experience.",
      "Served as a pivotal driver of the company's digital transformation efforts, especially during the 2020 pandemic, by creating new online avenues and opportunities."
      ],
    image: "/projects/PoderJudicial.webp",
    link: "https://poderjudicial.gob.do/",
    tags: [TAGS.WORDPRESS, TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT, TAGS.AZURE],
    github: ""
  },
  {
    title: "Sharepoint Intranet | Judicial Branch (Dom.Rep)",
    description: [
      "Led the UX/UI design for a SharePoint Online Intranet, prioritizing user-friendliness and efficiency.",
      "Integrated Power Platform applications alongside custom JavaScript solutions, streamlining processes and fostering collaboration.",
      "Tailored the design and functionality to enhance internal communication, workflow, and"
    ],
    image: "/projects/Intranet.webp",
    link: "https://customers.microsoft.com/en-us/story/1403839100209674399-dominican-judicial-branch-national-government-azure-en-dominican-republic",
    tags: [TAGS.OFFICE365, TAGS.MICROSOFT, TAGS.AZURE],
    github: ""
  },
  {
    title: "Micronmentals – Atlantic Equipment",
    description: [
      "Developed an informative site with custom template based on design file, built with WordPress using the TypeRocket Framework",
      "Implemented new features with Twig, PostCSS and PHP",
      "Led the integration of Algolia.js to enhance search with Autocomplete and InstantSearch AI controls",
      "Key contributor in front-end and back-end development"
    ],
    image: "/projects/micronmetals.webp",
    link: "https://micronmetals.com/",
    tags: [TAGS.PHP, TAGS.ALGOLIA, TAGS.MYSQL, TAGS.JAVASCRIPT, TAGS.SASS, TAGS.GULP],
    github: ""
  },
  {
    title: "e-Commerce Website | Quiosco Judicial - Judicial Branch (Dom.Rep)",
    description: [
      "Developed an e-commerce WordPress site for the Judicial Branch and the National School of the Judiciary, featuring a custom WooCommerce solution integrating a points-based rewards system.",
      "Users earn points through performance, event attendance, or task completion, then redeem them for items listed on the portal.",
      "Dashboards allow users to review points, transfer histories, and redemptions—all within a secure, scalable environment.",
      "Played a key role in the institution's digital transformation, driving engagement and motivation."
    ],
    image: "/projects/Quiosco.webp",
    link: "https://quiosco.poderjudicial.gob.do/",
    tags: [TAGS.WORDPRESS, TAGS.ECOMMERCE, TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT, TAGS.AZURE],
    github: ""
  },
  {
    title: "E-Commerce Website | Supliestetica Oriental",
    description: [
      "Developed an e-commerce WordPress site for a medical-cosmetic products company, focusing on a clean, modern, and user-friendly design.",
      "Redesigned the old website with an emphasis on UX/UI, delivering a streamlined shopping experience and enhanced brand identity.",
      "Built custom plugins to manage product listings and integrated a local Dominican payment system for secure transactions.",
      "Optimized performance and scalability, resulting in increased customer engagement and conversion rates."
    ],
    image: "/projects/Supliestetica.webp",
    link: "https://supliesteticaoriental.com/",
    tags: [TAGS.WORDPRESS, TAGS.ECOMMERCE, TAGS.PHP, TAGS.MYSQL, TAGS.JQUERY],
    github: ""
  },
  {
    title: "Pokedex with Speech Synthesis",
    description:
      "A simple but user-friendly Pokedex. The data is fetched from the PokeAPI. One of the key features of this project is the implementation of the SpeechSynthesisUtterance interface, enabling the application to verbally announce the names and characteristics of each Pokémon.",
    image: "/projects/Pokedex.webp",
    link: "https://animated-zuccutto-61e9d7.netlify.app",
    tags: [TAGS.HTML, TAGS.JAVASCRIPT, TAGS.SASS],
    github: "https://github.com/melvicsosa/Pokedex-VainillaJS"
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-6 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-300 lg:hover:border-gray-400 lg:hover:bg-gray-800/50 dark:lg:border-gray-800 dark:lg:hover:border-gray-700">
      <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" src={image} alt={`Screenshot of the project ${image}`} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-xl font-bold text-sky-900 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row flex-wrap gap-x-2">
          {tags.map((tag) => (
            <li class="mb-2">
              <span
                class={`flex gap-x-2 rounded-full text-xs cursor-pointer transition md:hover:scale-105 ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      <div class="mt-2 text-lg text-pretty font-light text-gray-700 dark:text-gray-300 md:col-span-3">
        {Array.isArray(description) ? (
          <ul class="list-disc list-inside space-y-2">
            {description.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        ) : (
          description
        )}
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GithubIcon class="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <LinkIcon class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>